<header class="app-header">
  <h1 class="app-title" align="center"> DAVID SEBASTIAN ERIKSEN </h1>
  <p align="center">Software development, videomaking, photography, eventholder</p>
  <div align="center">
  <button mat-fab color="accent" routerLink="home" routerLinkActive="active">Home</button>
  <button mat-fab color="accent" routerLink="resume" routerLinkActive="active">Resumé</button>
  <button mat-fab color="accent" routerLink="contact"routerLinkActive="active">Contact</button>
  <button mat-fab color="primary" routerLink="register" routerLinkActive="active">Register</button>
  <button mat-fab color="primary" routerLink="login" routerLinkActive="active">Login</button>
  <button mat-fab color="primary" routerLink="events" routerLinkActive="active">Events</button>
  </div>
</header>
