<div id="mainContainer" align="center">
  <div id="container">
    <mat-grid-list cols="3" rows="1" rowHeight="2:1" gutterSize="10px">

      <h1>SPEAKER EVENTS</h1>
      <mat-grid-tile>
        <div id="schoolevent">
          <div class="textContainer">
            <h2>SCHOOL EVENT</h2>
          </div>
          <br>
          <div><button mat-raised-button><span>BUY</span></button></div>
        </div>
      </mat-grid-tile>

      <mat-grid-tile>
        <div id="workevent">
          <div class="textContainer">
            <h2>WORK EVENT</h2>
          </div>
          <br>
          <div><button mat-raised-button><span>BUY</span></button></div>
        </div>
      </mat-grid-tile>

      <mat-grid-tile>
        <div id="otherevent">
          <div class="textContainer">
            <h2>OTHER EVENTS</h2>
          </div>
          <br>
          <div><button mat-raised-button><span>BUY</span></button></div>
        </div>
      </mat-grid-tile>

    </mat-grid-list>

    <h1>SESSIONS</h1>
    <mat-grid-list cols="3" rows="1" rowHeight="2:1" gutterSize="10px">

      <mat-grid-tile>
        <button mat-raised-button><span>BUY</span></button>
      </mat-grid-tile>

      <mat-grid-tile>
        <button mat-raised-button><span>BUY</span></button>
      </mat-grid-tile>

      <mat-grid-tile>
        <button mat-raised-button><span>BUY</span></button>
      </mat-grid-tile>
