<mat-card>
  <form (submit)="onAddPost(postForm)" #postForm="ngForm">

    <mat-form-field>
      <textarea matInput rows="1" type="text" name="title" ngModel required #title="ngModel" placeholder="Post Title">
        <mat-error *ngIf="title.invalid">Title required</mat-error>
      </textarea>
    </mat-form-field>

    <mat-form-field>
      <textarea matInput rows="6" name="content" ngModel required placeholder="Post content"></textarea>
    </mat-form-field>
    <button mat-raised-button color="primary" type="submit">Save</button>

  </form>
</mat-card>
