
<div id="mainContainer" align="center">
  <div id="container">

    <mat-card>
      <mat-card-title>Online resume</mat-card-title>
      Short description of self and skills
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          Education
        </mat-expansion-panel-header>

        Medialogy Bachelor (3 years software development)
        <hr>
        Askov Højskole (1 years filmmaking + journalism)
        <hr>
        National Defense (4 months voluntary service)
      </mat-expansion-panel>

      <mat-expansion-panel>
        <mat-expansion-panel-header>
          Experience
        </mat-expansion-panel-header>
        6 years experience of photography and editing
        <hr>
        5 years of video editing
        <hr>
        3 years of software development
        <ul>
          <li>Programming (C# mainly)</li>
          <li>Unity</li>
          <li>Blender</li>
        </ul>
      </mat-expansion-panel>
      <mat-card-footer>WORK IN PROGRESS</mat-card-footer>
    </mat-card>

  </div>
</div>
