<div id="mainContainer" align="center">
  <div id="container">
    <mat-grid-list cols="3" rows="1" rowHeight="2:1" gutterSize="10px">

      <h1>PHOTOGRAPHY</h1>
      <mat-grid-tile id="tileAlbum1">
        <button mat-raised-button><span>NEW YORK</span></button>
      </mat-grid-tile>

      <mat-grid-tile id="tileAlbum2">
        <button mat-raised-button><span>PETS</span></button>
      </mat-grid-tile>

      <mat-grid-tile id="tileAlbum3">
        <button mat-raised-button><span>CPH ZOO</span></button>
      </mat-grid-tile>

    </mat-grid-list>

    <h1>VIDEOS & SHORTFILMS</h1>
    <mat-grid-list cols="3" rows="1" rowHeight="2:1" gutterSize="10px">

      <mat-grid-tile id="tileMovie1">
        <button mat-raised-button><span>SVANS</span></button>
      </mat-grid-tile>

      <mat-grid-tile id="tileMovie2">
        <button mat-raised-button><span>GREENET</span></button>
      </mat-grid-tile>

      <mat-grid-tile id="tileMovie3">
        <button mat-raised-button><span>SKIBELUND KRAT</span></button>
      </mat-grid-tile>

    </mat-grid-list>

    <h1>PROJECTS</h1>
    <mat-grid-list cols="3" rows="1" rowHeight="2:1" gutterSize="10px">

      <mat-grid-tile id="tileAlbum1">
        <button mat-raised-button><span>HEARING WITH EYES</span></button>
      </mat-grid-tile>

      <mat-grid-tile id="tileAlbum1">
        <button mat-raised-button><span>CODIFIED</span></button>
      </mat-grid-tile>

      <mat-grid-tile id="tileAlbum1">
        <button mat-raised-button><span>AR PET</span></button>
      </mat-grid-tile>

    </mat-grid-list>
  </div>
</div>
